[Desktop Entry]
Type=Application
Name=Wifi
Icon=wifi
Terminal=false
Exec=rofi-wifi.sh
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
