[Desktop Entry]
Type=Application
Name=Sioyek
Icon=sioyek-icon-linux
Terminal=false
Exec=sioyek %F
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
