[Desktop Entry]
Type=Application
Name=St
Icon=st
Terminal=false
Exec=/home/araaha/.local/bin/st
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
