<openbox_menu>
    <menu id="root-menu" label="Openbox 3">
        <menu id="exit" label="Exit" >
            <item label="Logout">
                <action name="Exit" />
            </item>
            <item label="Suspend">
                <action name="Execute">
                    <execute>loginctl suspend</execute>
                </action>
            </item>
            <item label="Reboot">
                <action name="Execute">
                    <execute>loginctl reboot</execute>
                </action>
            </item>
            <item label="Shutdown">
                <action name="Execute">
                    <execute>loginctl poweroff</execute>
                </action>
            </item>
        </menu>
    </menu>
</openbox_menu>
